/* DARK MODE PORTAL UC */

body, #content-wrapper {
    background: rgb(18, 21, 23) !important;
}

#banner, div.tabs-hide, #content-wrapper {
    border-left: unset !important;
    border-right: unset !important;
}

#content-wrapper {
    border-bottom: unset !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
}

.portlet {
    box-shadow: unset !important;
    background: var(--osc2) !important;
}

.portlet-topper {
    background: var(--azul_osc) !important;
}

#wrapper {
    color: var(--texto) !important;
}

#layout-grid .lfr-column {
    padding: unset !important;
}

.table_data {
    background-color: unset !important;
    color: unset !important;
    font: unset !important;
    border-collapse: collapse !important;
}

.table_data th {
    background-color: var(--osc3) !important;
    color: unset !important;
    border: solid 1px var(--borde_tabla) !important;
    padding-left: 2px !important;
}

.table_data tbody td {
    background-color: unset !important;
    border: solid 1px var(--borde_tabla) !important;
    color: unset !important;
    padding-left: 2px !important;
}

#tabs, .tabs-container {
    background: var(--azul_osc) !important;
    /* border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important; */
}

li.tabs-selected, .tabs-selected span {
    background: var(--azul_osc) !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.menu_scroll li a {
    height: 100% !important;
}

.menu_scroll li a:hover {
    background: var(--azul_osc1) !important;
    color: var(--seleccionado) !important;
}

.menu_scroll li.selected span {
    background: unset !important;
}

.tabs-selected span a {
    background: var(--azul_osc) !important;
}

.tabs-selected span a {
    color: var(--seleccionado) !important;
    background: var(--azul_osc) !important;
}

.menu_scroll li {
    height: 100% !important;
}

.menu_scroll li.selected a {
    color: var(--seleccionado) !important;
    background: var(--azul_osc2) !important;
}

a {
    color: var(--texto_dest) !important;
}

input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea, input.focus {
    border: unset !important;
}

.form input[type="submit"], input[type="button"] {
    background: var(--azul_osc1) !important;
    border-radius: 5px !important;
}

a.botonEstandar {
    background: var(--azul_osc1) !important;
    border-radius: 5px !important;
    color: unset !important;
}

.form input[type="submit"]:hover, input[type="button"]:hover {
    background: var(--azul_osc2) !important;
    color: var(--seleccionado) !important;
}

/* INTRA Y SERVICIOS */
div.sdmenuIntra div span, div.sdmenuServ div span {
    color: var(--texto) !important;
}

div.sdmenuIntra div a, div.sdmenuServ div a {
    color: var(--texto2) !important;
}

/* TOP MEDIO INICIO */
div.journal-content-article div {
    border: unset !important;
    color: unset !important;
    background-color: unset !important;
}

div.journal-content-article font {
    color: var(--texto_dest) !important;
}

/* BuscaPersonas */
div.BP_Pestannas_tabcontents {
    border: unset !important;
}

div.BP_Pestannas_tabcontentSelected {
    background: unset !important;
    border-color: var(--azul_osc) !important;
}

#pBuscar {
    border: unset !important;
    margin-bottom: 15px !important;
}

ul.BP_Pestannas_menuList li a {
    background: var(--osc2) !important;
    border-color: var(--azul_osc) !important;
}

ul.BP_Pestannas_menuList li.selected a {
    background: var(--osc3) !important;
    border-bottom: var(--osc3) !important;
}

.BP_fieldsetForm {
    border-color: var(--azul_osc) !important;
}

div[class*="BuscaPersonas"] input:not([type="image"]) {
    border-radius: 5px !important;
    background: var(--osc3) !important;
    color: var(--texto) !important;
}

select[name="aRol"] {
    height: unset !important;
    /*width: 100%;*/
    background: var(--osc3) !important;
    color: var(--texto) !important;
}

.BP_legend {
    color: var(--texto) !important;
}

span[title="Enviar Correo"]>img {
    filter: invert(0.9) !important;
}

.BP_detalle span {
    background-color: var(--osc3) !important;
    color: var(--texto2) !important;
}

/* DATOS PERSONALES */
div[class*="DatosPersonales"] select {
    background: var(--osc4) !important;
    color: var(--texto2) !important;
    cursor: pointer !important;
}

.table_data .dp-boton {
    width: 100px !important;
    background: var(--azul_osc) !important;
    border-radius: 5px !important;
}

.table_data .dp-boton:hover {
    background: var(--azul_osc2) !important;
    cursor: pointer !important;
}

.table_data .dp-boton a {
    color: var(--texto) !important;
}

.table_data .dp-imagen .dp-boton {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.table_data .dp-imagen img {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

/* Info relacion persona UC */
.IP-uportal-td1 {
    color: unset !important;
}

.IP-tabla {
    background-color: unset !important;
    color: unset !important;
    font: unset !important;
    border-collapse: collapse !important;
}

.IP-alumno-tr {
    color: unset !important;
}

.IP-tabla th, .IP-tabla td {
    padding-left: 2px !important;
}

div[class*="infopersona"] td[colspan="2"] {
    padding-left: 0px !important;
}

/* CARGA ACADEMICA */
.hc-uportal-background-content {
    background: unset !important;
}

.hc-table_data {
    background-color: unset !important;
    border-collapse: collapse !important;
    color: unset !important;
    font: unset !important;
}

.hc-table_data tbody td {
    background-color: unset !important;
    border: solid 1px #121517 !important;
    color: unset !important;
}

.hc-table_data tbody th {
    color: unset !important;
    background-color: #555c62 !important;
    border: solid 1px #121517 !important;
}

.hc-table_data thead th {
    color: unset !important;
    background-color: #555c62 !important;
    border: solid 1px #121517 !important;
}

a.hc-descripcion {
    color: var(--azul_osc) !important;
}

.hc-descripcion span {
    border: unset !important;
    border-radius: 10px !important;
}

select[name="PeriodoSelec"] {
    background: var(--osc3) !important;
    color: unset !important;
}

input.uportal-button[name="searchPeriodo"] {
    height: 26px !important;
    border: unset !important;
    border-radius: 5px !important;
    background: var(--osc3) !important;
    color: unset !important;
}

.hc-titulo {
    font-size: 14px !important;
    margin-top: 10px !important;
}

/* Suspension y anulacion */
.well {
    background-color: var(--osc3) !important;
    border: unset !important;
    border-radius: 5px !important;
}

/* FECHAS DE INSCRIPCIÓN CURSOS */
.ED-legend_sustentador {
    color: unset !important;
}

/* RETENCIONES */
.ED-table2 {
    border: unset !important;
}

.ED-uportal-background-content {
    background: unset !important;
}

.ED-uportal-td3 {
    color: unset !important;
}

/* CERTIFICADOS */
/*nada en certificados */
/* Calendario Académico */
/*.ui-datepicker-inline {
      padding: 0;
    }*/
#ui-datepicker-div, .ui-datepicker-inline {
    background: unset !important;
}

.ui-datepicker .ui-datepicker-days-row {
    background: unset !important;
}

.ui-datepicker-days-cell a {
    background: var(--osc3) !important;
    border: 1px solid var(--osc2) !important;
}

/* Situacion deuda */
.morosidad-tabla {
    font-family: unset !important;
}

.morosidad-th {
    font-family: unset !important;
}

.morosidad-td {
    font-family: unset !important;
}

.morosidad-total {
    font-family: unset !important;
}

.morosidad-expandido {
    filter: invert(1) !important;
}

.morosidad-noexpandido {
    filter: invert(1) !important;
}

.morosidad-uportal-td1 {
    font-size: 11px !important;
    background: unset !important;
    color: unset !important;
    font-family: unset !important;
    text-align: left !important;
}

.morosidad-uportal-td2 {
    font-size: 11px !important;
    background: unset !important;
    color: unset !important;
    font-family: unset !important;
    text-align: left !important;
}

div[class*="Morosidad"] table td {
    border: solid 1px var(--borde_tabla) !important;
}

/* Cuentas por vencer */
.cpp-td1, .cpp-td2 {
    background: unset !important;
    color: unset !important;
}

div[class*="CuentasPorPagar"] table td {
    border: solid 1px var(--borde_tabla) !important;
}

/* Beneficios */
.dase-Pestannas_tabcontentSelected {
    background: unset !important;
}

.dase-Pestannas_tabcontentSelected table {
    background: unset !important;
    border-collapse: collapse !important;
}

.dase-Pestannas_tabcontentSelected table tbody td {
    background-color: unset !important;
    border: solid 1px #121517 !important;
}

.dase-Pestannas_tabcontentSelected table tbody th {
    color: #ffffffeb !important;
    background-color: #555c62 !important;
    border: solid 1px #121517 !important;
}

.dase-Pestannas_tabcontentSelected table .dase-th {
    color: #ffffffeb !important;
    background-color: #555c62 !important;
    border: solid 1px #121517 !important;
}

span.campo {
    color: unset !important;
}

.contenedorListaConvenios {
    background: unset !important;
    border: unset !important;
}

table.convenios {
    background-color: unset !important;
    border-collapse: collapse !important;
}

table.convenios tbody td {
    background-color: unset !important;
    border: solid 1px #121517 !important;
}

table.convenios tbody th {
    color: #ffffffeb !important;
    background-color: #555c62 !important;
    border: solid 1px #121517 !important;
}

table.convenios thead th {
    color: #ffffffeb !important;
    background-color: #555c62 !important;
    border: solid 1px #121517 !important;
}

table.convenios tbody td {
    color: #ffffffeb !important;
}

.dase-Pestannas_menuList li a {
    background: #555c62 !important;
    color: unset !important;
}

.dase-Pestannas_menuList li.selected a {
    background: #727b83 !important;
    border-bottom: 1px solid #727b83 !important;
}

.dase-Pestannas_tabcontents {
    border: unset !important;
}

/* CONVENIO SOFTWARE */
div.convenio {
    background-color: var(--osc3) !important;
}

div.cond_uso {
    background-color: var(--osc4) !important;
}

/* POP UP */
.popup-alert-notice {
	background-color: var(--destacado) !important;
	border-bottom: unset !important;
	/* color: var(--texto2); */
}
input.popup-alert-close {
  border: 1px solid !important;
  border-color: #dedede #bfbfbf #bfbfbf #dedede !important;
}
