:root.duc {
    --ic-brand-primary: var(--azul_osc) !important;
    --ic-brand-global-nav-bgd: var(--azul_osc) !important;
    --ic-brand-global-nav-logo-bgd: var(--azul_osc) !important;
    --ic-brand-font-color-dark: var(--texto2) !important;
    --fLzZc-borderColor: var(--texto3) !important;
    --ic-brand-global-nav-ic-icon-svg-fill--active: var(--azul_osc2) !important;
    --ic-brand-global-nav-menu-item__text-color--active: var(--azul_osc2) !important;
    --ic-brand-font-color-dark-lightened-30: var(--texto3) !important;
    --ic-brand-font-color-dark-lightened-15: var(--texto2) !important;
    --enRcg-secondaryColor: var(--texto2) !important;
    --ctrLD-color: var(--texto3) !important;
    --fNHEA-labelColor: var(--texto3) !important;
}


/* GENERAL */

.duc body {
    background: var(--osc1) !important;
}

.duc .ic-Layout-watermark {
    background-image: unset !important;
}

.duc div.ic-sidebar-logo {
    display: none !important;
}

.duc .ic-Dashboard-header__layout {
    background: var(--trans) !important;
    border-bottom: 1px solid var(--capa2) !important;
}

.duc .btn, .duc .Button, .duc .ui-button {
    background: var(--capa) !important;
    color: var(--texto2) !important;
    border-color: var(--osc3) !important;
}

.duc .btn-primary, .duc .Button--primary {
    background: var(--azul_osc) !important;
}

.duc .eHiXd_dnnz, .duc a.eHiXd_dnnz, .duc button.eHiXd_dnnz, .duc button.eHiXd_dnnz[type="button"], .duc button.eHiXd_dnnz[type="reset"], .duc button.eHiXd_dnnz[type="submit"] {
    color: var(--texto3) !important;
}

.duc .header-bar {
    background-color: var(--osc1) !important;
}

.duc .tray-with-space-for-global-nav, .duc .ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link, .duc .fLzZc_bGBk {
    background: var(--osc1) !important;
}
.duc .dxCCp_bGBk {
    color: var(--texto2);
}

.duc .ic-Table td {
    border-color: var(--osc3) !important;
}

.duc table {
    background-color: var(--osc2) !important;
}

.duc textarea, .duc input[type="text"], .duc input[type="password"], .duc input[type="datetime"], .duc input[type="datetime-local"], .duc input[type="date"], .duc input[type="month"], .duc input[type="time"], .duc input[type="week"], .duc input[type="number"], .duc input[type="email"], .duc input[type="url"], .duc input[type="search"], .duc input[type="tel"], .duc input[type="color"], .duc .uneditable-input {
    background: var(--capa) !important;
    border-color: var(--capa) !important;
    color: var(--texto2) !important;
}

.duc select, .duc input, .duc select.ic-Input, .duc textarea.ic-Input, .duc input[type="text"].ic-Input, .duc input[type="password"].ic-Input, .duc input[type="datetime"].ic-Input, .duc input[type="datetime-local"].ic-Input, .duc input[type="date"].ic-Input, .duc input[type="month"].ic-Input, .duc input[type="time"].ic-Input, .duc input[type="week"].ic-Input, .duc input[type="number"].ic-Input, .duc input[type="email"].ic-Input, .duc input[type="url"].ic-Input, .duc input[type="search"].ic-Input, .duc input[type="tel"].ic-Input, .duc input[type="color"].ic-Input, .duc .uneditable-input.ic-Input {
    background: var(--capa) !important;
    border-color: var(--capa) !important;
    color: var(--texto2) !important;
}

.duc .ui-icon-extlink {
    filter: invert(1) !important;
}
.duc .ic-flash-info, .duc .ic-flash-success, .duc .ic-flash-warning, .duc .ic-flash-error {
    background-color: var(--osc2) !important;
}
.duc .ColorPicker__Container {
    background: var(--osc3) !important;
}
.duc .ui-dialog .ui-dialog-titlebar.ui-widget-header, .duc .ui-dialog .ui-datepicker .ui-widget-header.ui-datepicker-header, .duc .ui-datepicker .ui-dialog .ui-widget-header.ui-datepicker-header {
    background: var(--osc3) !important;
    border-bottom: 1px solid var(--capa2) !important;
}
.duc .group_user_8330, .duc .group_user_8330:hover, .duc .group_user_8330:focus {
    background-color: var(--osc2) !important ;
}
.duc hr {
    border-top: 1px solid var(--capa2) !important;
}
.duc #right-side h2, .duc #right-side .h2 {
    border-bottom: 1px solid var(--capa2) !important;
}
.duc #right-side .events_list .event-details:after, .duc #right-side .events_list .todo-details:after, .duc #right-side .to-do-list .event-details:after, .duc #right-side .to-do-list .todo-details:after {
    background: unset !important;
}
.duc .esvoZ_drOs {
    color: var(--texto5) !important;
}


/* Quizzes & Assignments */
.duc #questions.assessing {
    background: var(--osc1) !important;
}
.duc .question {
    background-color: var(--osc2) !important;
}
.duc .question .header {
    background-color: var(--osc3) !important;
}
.duc .canvas-rce__skins--root {
    background-color: var(--osc2) !important;
}
.duc .quiz-submission, .duc .question_editing {
    background: unset !important;
    border: unset !important;
}
.duc .quiz_score .score_value {
    color: var(--texto3) !important;
}
.duc table.summary td, .duc table.summary tbody th {
    background-color: var(--osc1);
}
.duc .ui-datepicker .ui-datepicker-time, .duc .ui-dialog .ui-dialog-buttonpane,.duc .ui-dialog .ui-datepicker .ui-datepicker-time, .duc .ui-datepicker .ui-dialog .ui-datepicker-time {
    border-top: 1px solid var(--capa2) !important;
}
.duc .submission-details-comments .comments {
    background-color: var(--osc2) !important;
}
.duc .rubric_container .rubric_title, .duc .rubric_container thead th {
    background-color: var(--osc2) !important;
}

/* Paginas */

.duc #breadcrumbs {
    background: unset !important;
}

.duc .list-view a.active {
    border-left: 2px solid var(--texto2) !important;
    color: var(--texto2) !important;
}
.duc .ic-app-nav-toggle-and-crumbs, .duc .header-bar, .duc #right-side .h2 {
    border-bottom: 1px solid var(--capa2) !important;
}

/* ENTREGADOS */
.duc #context-list .context_list_context {
    background-color: var(--osc1) !important;
}
.duc .file-upload-submission {
    background: var(--osc2) !important;
}

/* Tablero */

.duc .ic-DashboardCard, .duc .ic-DashboardCard__header_content {
    background: var(--osc2) !important;
}

/* Cursos */

.duc .course-list-table .course-list-table-row:hover {
    background-color: var(--osc2) !important;
}

.duc .item-group-container {
    background: unset !important;
}

.duc .item-group-condensed .ig-header {
    background: var(--osc3) !important;
    border: 1px solid var(--osc4) !important;
}

.duc .item-group-condensed .ig-row, .duc .item-group-condensed .item-group-expandable {
    background: var(--osc2) !important;
    border: 1px solid var(--osc4) !important;
}

.duc .item-group-expandable .emptyMessage {
    background: unset !important;
}

.duc .ig-header .name, .duc .accessible-toggler {
    color: var(--texto) !important;
    text-shadow: unset !important;
}

.duc .mimeClass-audio, .duc .mimeClass-code, .duc .mimeClass-doc, .duc .mimeClass-flash, .duc .mimeClass-folder, .duc .mimeClass-folder-locked, .duc .mimeClass-html, .duc .mimeClass-image, .duc .mimeClass-pdf, .duc .mimeClass-ppt, .duc .mimeClass-text, .duc .mimeClass-video, .duc .mimeClass-xls, .duc .mimeClass-zip, .duc .mimeClass-file {
    filter: invert(0.93) !important;
}

.duc .ui-tabs .ui-tabs-panel {
    background: var(--capa) !important;
}

.duc .ui-tabs .ui-tabs-nav li.ui-state-hover, .duc .ui-tabs .ui-tabs-nav li:hover {
    background: var(--capa) !important;
    border-color: unset !important;
}

.duc .ui-tabs .ui-tabs-nav li.ui-tabs-active, .duc .ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover, .duc .ui-tabs .ui-tabs-nav li.ui-tabs-active:hover {
    background: var(--capa) !important;
    border-color: var(--capa) !important;
}

.duc .ic-Table.ic-Table--hover-row tbody tr:hover, .duc .ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-neutral:hover, .duc .ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-success:hover, .duc .ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-alert:hover, .duc .ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-danger:hover {
    background: var(--capa2) !important;
}

.duc .ic-Table.ic-Table--striped tbody tr:nth-child(odd) {
    background: var(--capa) !important;
}

.duc .qBMHb_cSXm {
    background: var(--osc2) !important;
    border-color: var(--capa);
}
.duc .qBMHb_cSXm input {
    background: unset !important;
}
.duc .ic-notification {
    margin-top: 10px !important;
}
.duc .ic-notification__content {
    background: var(--osc2) !important;
}
.duc .toolbarView {
    background: var(--osc2) !important;
}
.duc .toolbarView .headerBar {
    background: var(--osc3) !important;
    border: 1px solid var(--capa) !important;
}
.duc .topic .entry-content {
    border-left: 1px solid var(--capa2) !important;
    border-right: 1px solid var(--capa2) !important;
}
.duc .module-sequence-footer .module-sequence-footer-content {
    background: unset !important;
}
.duc .ig-list .ig-row.ig-row-empty {
    background: var(--osc1) !important;
    border: 1px solid var(--capa) !important;
}
.duc .ef-item-row:hover {
    background-color: var(--capa) !important;
}
.duc .ef-item-row.ef-item-selected {
    background-color: var(--capa2) !important;
}
.duc .stream_header:hover, .duc .stream-details tr:hover {
    background: var(--capa) !important;
}
.duc .file_download_btn {
    filter: invert(0.8) !important;
}
.duc .student-groups {
    border-color: var(--capa2);
}
.duc .student-groups.show-body .student-group-header {
    background-color: var(--osc3) !important;
}
/* Anuncios */
.duc .ic-item-row {
    box-shadow: 0 -1px var(--capa), inset 0 -1px var(--capa) !important;
}

/* Archivos */
.duc .ftPBL_bGBk:not(.ftPBL_bGiS) {
    background-color: var(--capa) !important;
}
.duc .esvoZ_eCSh, .duc .blnAQ_eCSh {
    color: unset !important;
}
.duc .ef-header, .duc .ef-directory-header {
    border-bottom: 1px solid var(--capa2) !important;
}
.duc .ef-main .ef-folder-content {
    border-right: 1px solid var(--capa2) !important;
}
.duc .ef-footer {
    border-top: 1px solid var(--capa2) !important;
}

/* Calendario */
.duc #minical {
    background-color: var(--osc2) !important;
    border: 1px solid var(--osc3) !important;
}
.duc #minical .fc-toolbar, .duc #minical .fc-toolbar h2, .duc #minical .fc-toolbar .h2, .duc #minical .fc-widget-content {
    color: var(--texto3) !important;
}
.duc #minical .fc-bg .fc-state-highlight {
    background: var(--osc3) !important;
}
.duc .fc-unthemed th, .duc .fc-unthemed td, .duc .fc-unthemed thead, .duc .fc-unthemed tbody, .duc .fc-unthemed .fc-divider, .duc .fc-unthemed .fc-row, .duc .fc-unthemed .fc-popover {
    border-color: var(--osc1) !important;
}
.duc #calendar-app .fc-month-view .fc-today, .duc #calendar-drag-and-drop-container .fc-month-view .fc-today {
    background-color: var(--osc3) !important;
}

/* Foros */
.duc .pinned-discussions-v2__wrapper, .duc .unpinned-discussions-v2__wrapper, .duc .closed-for-comments-discussions-v2__wrapper {
    border: 1px solid var(--capa2) !important;
    background-color: var(--osc2) !important;
}
.duc .ic-discussion-row {
    background-color: var(--osc3) !important;
}
.duc .MlJlv_cjSw {
    color: var(--texto) !important;
}
.duc .MlJlv_ebWM {
    color: var(--texto3) !important;
}
.duc .ic-unread-badge__total-count {
    background: var(--osc5) !important;
}
.duc .discussions-v2__container-image {
    background-color: unset !important;
}
.duc .discussion-entries .entry {
    background: var(--osc2) !important;
    border: 1px solid var(--capa2) !important;
}
.duc .discussion_entry {
    background: var(--osc2) !important;
}
.duc .discussion_entry>.discussion-entry-reply-area {
    border-color: var(--capa) !important;
}
.duc .discussion-reply-box:hover, .duc .discussion-reply-box:focus {
    border-color: var(--capa) !important;
    color: var(--texto3) !important;
}
.duc .read .discussion-read-state {
    background: var(--capa) !important;
}
.duc .discussion-reply-box {
    background-color: var(--osc2) !important;
    border-color: var(--capa2) !important;
}

/* Mensajes */
.duc .message-list .messages>li {
    background: var(--osc2) !important;
    border-bottom: 1px solid var(--capa2) !important;
}
.duc .message-list .messages>li.active {
    background: var(--osc3) !important;
}
.duc .ac-input-box {
    background: var(--osc2) !important;
    border: 1px solid var(--capa) !important;
}
.duc .conversations .panel {
    background: var(--osc3) !important;
    border-bottom: 1px solid var(--capa) !important;
}
.duc body.responsive_awareness .message-detail.span8, .duc body.responsive_awareness .message-detail.conversations__message-detail {
    background: var(--osc1) !important;
}
.duc .message-list .author {
    color: var(--texto2) !important;
}
.duc .message-list .subject {
    color: var(--texto4) !important;
}
.duc .message-list .summary {
    color: var(--texto5) !important;
}
.duc .message-detail.span8 .user-info .context, .duc .message-detail.conversations__message-detail .user-info .context, .duc .message-detail.span8 .date, .duc .message-detail.conversations__message-detail .date {
    color: var(--texto4) !important;
}
.duc #compose-new-message, .duc #submission-comment-reply {
    background: var(--osc1) !important;
}
.duc .compose-message-dialog .ui-dialog-buttonpane, .duc .submission-comment-reply-dialog .ui-dialog-buttonpane {
    background: var(--osc2) !important;
}
.duc #compose-new-message .conversation_body, .duc #compose-new-message .reply_body, .duc #submission-comment-reply .conversation_body, .duc #submission-comment-reply .reply_body {
    background: var(--osc1) !important;
}
@media only screen and (min-width: 577px) {
    .duc body.responsive_awareness .message-list-scroller {
        border-right: 1px solid var(--capa2) !important;
    }
}
.duc .ac-result-container {
    background: var(--osc3) !important;
    border: 1px solid var(--capa2) !important;
}
.duc .ac-token {
    background: var(--capa2) !important;
    border: 1px solid var(--capa) !important;
}

/* Configuraciones */
.duc .ui-widget-content {
    background: var(--osc2) !important;
}
.duc .bGgTf_bGBk, .duc .ccWIh_bGBk, .duc .eIQkd_bGBk, .duc .fwfoD_bGBk {
    background: var(--osc2) !important;
}
.duc .eIQkd_bGBk {
    border-bottom-color: var(--capa) !important;
}
.duc .fwfoD_fsuY {
    color: var(--texto) !important;
}
.duc .MlJlv_dnnz {
    color: var(--texto3) !important;
}