/* DARK MODE PORTAL UC */

.duc body, .duc #content-wrapper {
    background: var(--osc1) !important;
}

.duc #banner, .duc div.tabs-hide, .duc #content-wrapper {
    border-left: unset !important;
    border-right: unset !important;
}

.duc #content-wrapper {
    border-bottom: unset !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
}

.duc .portlet {
    /* box-shadow: unset !important; */
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0, rgba(0, 0, 0, 0.15) 0 1px 3px 1px !important;
    background: var(--osc2) !important;
}

.duc .portlet-topper {
    background: var(--azul_osc) !important;
}

.duc #wrapper {
    color: var(--texto) !important;
}

.duc #layout-grid .lfr-column {
    padding: unset !important;
}

.duc .table_data {
    background-color: unset !important;
    color: unset !important;
    font: unset !important;
    border-collapse: collapse !important;
}

.duc .table_data th {
    background-color: var(--osc3) !important;
    color: unset !important;
    border: solid 1px var(--borde_tabla) !important;
    padding-left: 2px !important;
}

.duc .table_data tbody td {
    background-color: unset !important;
    border: solid 1px var(--borde_tabla) !important;
    color: unset !important;
    padding-left: 2px !important;
}

.duc #tabs, .duc .tabs-container {
    background: var(--azul_osc) !important;
    /* border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important; */
}

.duc li.tabs-selected, .duc .tabs-selected span {
    background: var(--azul_osc) !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.duc .menu_scroll li a {
    height: 100% !important;
}

.duc .menu_scroll li a:hover {
    background: var(--azul_osc1) !important;
    color: var(--seleccionado) !important;
}

.duc .menu_scroll li.selected span {
    background: unset !important;
}

.duc .tabs-selected span a {
    background: var(--azul_osc) !important;
}

.duc .tabs-selected span a {
    color: var(--seleccionado) !important;
    background: var(--azul_osc) !important;
}

.duc .menu_scroll li {
    height: 100% !important;
}

.duc .menu_scroll li.selected a {
    color: var(--seleccionado) !important;
    background: var(--azul_osc2) !important;
}

.duc a {
    color: var(--texto_dest) !important;
}

.duc input[type="text"], .duc input[type="password"], .duc input[type="file"], .duc input[type="submit"], .duc input[type="button"], .duc input[type="reset"], .duc select, .duc textarea, .duc .textarea, .duc input.focus {
    border: unset !important;
}

.duc .form input[type="submit"], .duc input[type="button"] {
    background: var(--azul_osc1) !important;
    border-radius: 5px !important;
}

.duc a.botonEstandar {
    background: var(--azul_osc1) !important;
    border-radius: 5px !important;
    color: unset !important;
}

.duc .form input[type="submit"]:hover, .duc input[type="button"]:hover {
    background: var(--azul_osc2) !important;
    color: var(--seleccionado) !important;
}

.duc hr {
    border-color: var(--dism2) !important;
}

.duc .portlet-msg-error {
    background-color: var(--alerta) !important;
}

/* INTRA Y SERVICIOS */

.duc div.sdmenuIntra div span, .duc div.sdmenuServ div span {
    color: var(--texto) !important;
}

.duc div.sdmenuIntra div a, .duc div.sdmenuServ div a {
    color: var(--texto2) !important;
}

/* TOP MEDIO INICIO */

.duc div.journal-content-article div {
    border: unset !important;
    color: unset !important;
    background-color: unset !important;
}

.duc div.journal-content-article font {
    color: var(--texto_dest) !important;
}

/* BuscaPersonas */

.duc div.BP_Pestannas_tabcontents {
    border: unset !important;
}

.duc div.BP_Pestannas_tabcontentSelected {
    background: unset !important;
    border-color: var(--azul_osc) !important;
}

.duc #pBuscar {
    border: unset !important;
    margin-bottom: 15px !important;
}

.duc ul.BP_Pestannas_menuList li a {
    background: var(--osc2) !important;
    border-color: var(--azul_osc) !important;
}

.duc ul.BP_Pestannas_menuList li.selected a {
    background: var(--osc3) !important;
    border-bottom: var(--osc3) !important;
}

.duc .BP_fieldsetForm {
    border-color: var(--azul_osc) !important;
}

.duc div[class*="BuscaPersonas"] input:not([type="image"]) {
    border-radius: 5px !important;
    background: var(--osc3) !important;
    color: var(--texto) !important;
}

.duc select[name="aRol"] {
    height: unset !important;
    /*width: 100%;*/
    background: var(--osc3) !important;
    color: var(--texto) !important;
}

.duc .BP_legend {
    color: var(--texto) !important;
}

.duc span[title="Enviar Correo"]>img {
    filter: invert(0.9) !important;
}

.duc .BP_detalle span {
    background-color: var(--osc3) !important;
    color: var(--texto2) !important;
}

/* DATOS PERSONALES */

.duc div[class*="DatosPersonales"] select {
    background: var(--osc4) !important;
    color: var(--texto2) !important;
    cursor: pointer !important;
}

.duc div[class*="DatosPersonales"] select:hover {
    background: var(--capa2) !important;
}

.duc .table_data .dp-boton {
    width: 100px !important;
    background: var(--azul_osc) !important;
    border-radius: 5px !important;
}

.duc .table_data .dp-boton:hover {
    background: var(--azul_osc2) !important;
    cursor: pointer !important;
}

.duc .table_data .dp-boton a {
    color: var(--texto) !important;
}

.duc .table_data .dp-imagen .dp-boton {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.duc .table_data .dp-imagen img {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

/* Info relacion persona UC */

.duc .IP-uportal-td1, .duc .IP-alumno-tr {
    color: unset !important;
    background: unset !important;
}

.duc .IP-tabla {
    background-color: unset !important;
    color: unset !important;
    font: unset !important;
    border-collapse: collapse !important;
}

.duc .IP-tabla th, .duc .IP-tabla td {
    padding-left: 2px !important;
}

.duc div[class*="infopersona"] td[colspan="2"] {
    padding-left: 0px !important;
}

.duc .IP-expandido, .duc .IP-noexpandido {
    filter: invert() !important;
}

/* CARGA ACADEMICA */

.duc .hc-uportal-background-content {
    background: unset !important;
}

.duc .hc-table_data {
    background-color: unset !important;
    border-collapse: collapse !important;
    color: unset !important;
    font: unset !important;
}

.duc .hc-table_data tbody td {
    background-color: unset !important;
    border: solid 1px var(--borde_tabla) !important;
    color: unset !important;
}

.duc .hc-table_data tbody th {
    color: unset !important;
    background-color: var(--osc3) !important;
    border: solid 1px var(--borde_tabla) !important;
}

.duc .hc-table_data thead th {
    color: unset !important;
    background-color: var(--osc3) !important;
    border: solid 1px var(--borde_tabla) !important;
}

.duc a.hc-descripcion {
    color: black !important;
}

.duc .hc-descripcion span {
    border: unset !important;
    border-radius: 10px !important;
    /* IMPORTANTE COLOR FIJO PARA POP-UP DE INFO HORARIO */
    background-color: #313131 !important;
}

.duc select[name="PeriodoSelec"] {
    background: var(--osc3) !important;
    color: unset !important;
}

.duc input.uportal-button[name="searchPeriodo"] {
    height: 26px !important;
    border: unset !important;
    border-radius: 5px !important;
    background: var(--osc3) !important;
    color: unset !important;
}

.duc .hc-titulo {
    font-size: 14px !important;
    margin-top: 10px !important;
}

.duc .hc-td>div>a>span>table td {
    color: var(--texto2) !important;
}

.duc .hc-color-clase-1 {
    background-color: #EB9007!important;
}

.duc .hc-color-clase-2 {
    background-color: #4F9D4F!important;
}

.duc .hc-color-clase-3 {
    background-color: #338CE4!important;
}

.duc .hc-color-clase-4 {
    background-color: #FF30FF!important;
}

.duc .hc-color-clase-5 {
    background-color: #7A6DEE!important;
}

.duc .hc-color-clase-6 {
    background-color: #9D9D4F!important;
}

.duc .hc-color-clase-7 {
    background-color: #3DD7D7!important;
}

.duc .hc-color-clase-otro {
    background-color: #FF0E0E!important;
}

/* Suspension y anulacion */

.duc .well {
    background-color: var(--osc3) !important;
    border: unset !important;
    border-radius: 5px !important;
}

/* FECHAS DE INSCRIPCIÓN CURSOS */

.duc .ED-legend_sustentador {
    color: unset !important;
}

/* RETENCIONES */

.duc .ED-table2 {
    border: unset !important;
}

.duc .ED-uportal-background-content {
    background: unset !important;
}

.duc .ED-uportal-td3 {
    color: unset !important;
}

/* CERTIFICADOS */

/*nada en certificados */

/* Calendario Académico */

/*.ui-datepicker-inline {
      padding: 0;
    }*/

.duc #ui-datepicker-div, .duc .ui-datepicker-inline {
    background: unset !important;
}

.duc .ui-datepicker .ui-datepicker-days-row {
    background: unset !important;
}

.duc .ui-datepicker-days-cell a {
    background: var(--osc3) !important;
    border: 1px solid var(--osc2) !important;
}

.duc .ui-datepicker-links {
    background: var(--osc3) !important;
}

.duc .ui-datepicker-prev a, .duc .ui-datepicker-next a {
    filter: invert() !important;
}

.duc .upcal-view-links {
    background-color: var(--osc3) !important;
}

/* Situacion deuda */

.duc .morosidad-tabla {
    font-family: unset !important;
    background: unset !important;
}

.duc .morosidad-th {
    font-family: unset !important;
    background: var(--capa) !important;
    color: unset !important;
}

.duc .morosidad-td {
    font-family: unset !important;
    background: var(--capa) !important;
}

.duc .morosidad-total {
    font-family: unset !important;
    background: var(--capa) !important;
}

.duc .morosidad-expandido {
    filter: invert(1) !important;
}

.duc .morosidad-noexpandido {
    filter: invert(1) !important;
}

.duc .morosidad-uportal-td1 {
    font-size: 11px !important;
    background: unset !important;
    color: unset !important;
    font-family: unset !important;
    text-align: left !important;
}

.duc .morosidad-uportal-td2 {
    font-size: 11px !important;
    background: unset !important;
    color: unset !important;
    font-family: unset !important;
    text-align: left !important;
}

.duc div[class*="Morosidad"] table td {
    border: solid 1px var(--borde_tabla) !important;
}

/* Cuentas por vencer */

.duc .cpp-td, .duc .cpp-td1, .duc .cpp-td2, .duc .cpp-th, .duc .cpp-total {
    background: var(--osc3) !important;
    color: unset !important;
    border: unset !important;
}

.duc div[class*="CuentasPorPagar"] table td {
    border: solid 1px var(--borde_tabla) !important;
}

.duc .cpp-tabla {
    background: unset !important;
}

.duc .cpp-th > th {
    text-align: center !important;
}

.duc .cpp-th > th:last-child {
    text-align: right !important;
}

/* Beneficios */

.duc .dase-Pestannas_tabcontentSelected {
    background: unset !important;
}

.duc .dase-Pestannas_tabcontentSelected table {
    background: unset !important;
    border-collapse: collapse !important;
}

.duc .dase-Pestannas_tabcontentSelected table tbody td {
    background-color: unset !important;
    border: solid 1px var(--borde_tabla) !important;
}

.duc .dase-Pestannas_tabcontentSelected table tbody th {
    color: var(--texto) !important;
    background-color: var(--osc3) !important;
    border: solid 1px var(--borde_tabla) !important;
}

.duc .dase-Pestannas_tabcontentSelected table .dase-th {
    color: var(--texto) !important;
    background-color: var(--osc3) !important;
    border: solid 1px var(--borde_tabla) !important;
}

.duc .dase-td1, .duc .dase-td2 {
    background: unset !important;
}

.duc span.campo {
    color: unset !important;
}

.duc .contenedorListaConvenios {
    background: unset !important;
    border: unset !important;
}

.duc table.convenios {
    background-color: unset !important;
    border-collapse: collapse !important;
}

.duc table.convenios tbody td {
    background-color: unset !important;
    border: solid 1px var(--borde_tabla) !important;
}

.duc table.convenios tbody th {
    color: var(--texto) !important;
    background-color: var(--osc3) !important;
    border: solid 1px var(--borde_tabla) !important;
}

.duc table.convenios thead th {
    color: var(--texto) !important;
    background-color: var(--osc3) !important;
    border: solid 1px var(--borde_tabla) !important;
}

.duc table.convenios tbody td {
    color: var(--texto) !important;
}

.duc .dase-Pestannas_menuList li a {
    background: var(--osc3) !important;
    color: unset !important;
}

.duc .dase-Pestannas_menuList li.selected a {
    background: var(--osc4) !important;
    border-bottom: 1px solid var(--osc4) !important;
}

.duc .dase-Pestannas_tabcontents {
    border: unset !important;
}

/* CONVENIO SOFTWARE */

.duc div.convenio {
    background-color: var(--osc3) !important;
}

.duc div.cond_uso {
    background-color: var(--osc4) !important;
}

/* POP UP */

.duc .popup-alert-notice {
    background-color: var(--destacado) !important;
    border-bottom: unset !important;
    /* color: var(--texto2); */
}

.duc input.popup-alert-close {
    border: 1px solid !important;
    border-color: var(--texto) !important;
}

/* TEMPORAL */

.duc span[style="color: #000080;"] {
    color: var(--azul_osc2) !important;
}